<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoodData Demo</title>
    <link rel="shortcut icon" href="https://www.gooddata.com/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <iframe
            title="My Embedded GoodData Analytical Designer"
            id="embedded-app-frame"
            src="<IFRAME_SOURCE>"
            style="height: 100vh; width: 100vw;"
            frameborder="0"
        ></iframe>
</body>
</html>